@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";
@import "animate";

*{
    box-sizing:border-box;
}
html{
    font-size: 625%;
    height: 100%
}
body{
    font-size: .14rem;

    -webkit-touch-callout: none;

    -webkit-user-select: none;

    -moz-user-select: none;

    user-select: none;

    height: 100%;

    background:  linear-gradient(to top right, #6C6E68 0%, #B26D63 20%, #ECDDB3 40%,#ECC37C 60%, #960103 80%, #000000 100%);
        
}

.player-container {
    height: 100%;
    background: rgba(255, 255, 255 ,0.6);
}




.clearfix{
    @include clearfix();
}
.unstyle {
    margin:0px;
    padding:0px;
    p {
        font-size: 10px;
    }
}
.search-list {
    display: block;
    tr.active {
        color:red;
    }
}



.song-list {
    .active {
        color:blue;
    }
}

#test {
    display: flex;
    border-radius: 1px;
}

.player-control-bar {
    position: fixed;
    bottom: 0;
    background: #101B3B;
    width: 100%;
    height: 80px;
    cursor: default;

    .music-icon{
        width: 50px;
        height: 50px;
        border-radius:50%;
    } 
    button {
        width: 1.6%;
        height: 23px;
        background: transparent;
        margin: 20px 0.3%;
        padding: 0;
        display: inline-block;
        outline: none;

        cursor: pointer;
        border: 0;
        color: #D4D4D4;
        font-size: 30px; 
        &:hover {
            color: white;
            text-shadow: 0px 0px 2px white;
        }
        &.play-btn {
            width: 2.1%;
            font-size: 35px;
        }
        
    }

    span {
        display: inline-block;
        color: #D7DFE7;
    }
       
    
}

#song-info {
    display: inline-block;
    margin: 12px 1.5% 0 1.5%;
    float: left;
    position: relative;
    width: 164px;
    p {
        color: white;
        display: inline-block;
        position: absolute;
        left: 40%;
        width: 84%;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
        &.song-name {
            font-size: 14px;
            top:12px;
        }
        &.singer-name {
            font-size: 12px;
            top:30px;
        }
    }
}



#song-range {
    width: 35%;
    display: inline-block;
    margin-bottom: 6px;
    margin-left: 1.5%;
}

#time-display {
    display: inline-block;
    position:relative;
    top: -5px;
    color: white;
    margin-left: 0.5%;
}

#vol-icon {
    height: 10px;
    width: 2%;
    color: #D4D4D4;
    margin-left: 1.5%;
    font-size: 20px;
    text-align: center;
}

#vol-range {
    width: 5%;
    display: inline-block;
    margin-bottom: 6px;
    margin-left: 0.5%;
}

#loop-ctrl {
    width: 1.5%;
    display: inline-block;
    color: #D4D4D4;
    font-size: 22px;
    margin-left: 3%;
    position: relative;
    &:hover {
        color: white;
        text-shadow: 0px 0px 2px white;
        #loop-mod {
            text-shadow: none;
            display: inline-block;
        }
    }
    #loop-mod {
        width: 76px;
        height: 25px;
        position: absolute;
        top: -54px;
        left: -30px;
        font-size: 14px;
        display: none;
        background: #101B3B;
        border-radius: 5px;
        line-height: 150%;
        text-align: center;
    }
}




.progress-container {
    display: inline-block;
    position: relative;
    height: 8px;
    cursor: pointer;
}

.time-line {
    width: 100%;
    border-radius: 5px;
    height: 8px;
    background: #a7a4a4;
    position: absolute;
    box-shadow: 0px 1px 5px 1px #E2E2E2 inset;
}

.played-progress {
    width: 0%;
    height: 8px;
    display: inline-block;
    background: #D30000;
    border-radius: 5px;
    position: absolute;
    box-shadow: 0px 1px 5px 1px #FFAAAA inset;
}

.slider {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 5px solid #efefef;
  background: red;
  display: inline-block;
  float: right;
  transform: translate(9px, -6px);
  &:hover {
    box-shadow: 0 0 6px 1px white;
  }
}

    

   

/*lrc*/
.lrc-container{
    width: 3rem;
    height: 4rem;
    text-align: center;
    /* overflow: hidden; */
    overflow-y: auto;
    overflow-x: hidden;
    background: rgba(0,0,0,0.4);
    position: relative;
    .lrc-list{
        /* @include animation-duration(.5s);
        @include animation-timing-function(linear);
        @include animation-fill-mode(forwards); */
        @include transition(top,.5s,linear);
        position: absolute;
        width: inherit;
        .lyric{
            padding:.08rem .2rem; 
            color:#827373;
            min-height: .3rem;
            line-height: .15rem;
            &:hover{
                text-decoration: underline;
                cursor: pointer;
                color:#B7ADAD;
            }
        }
        .nolyric{
            padding:.08rem .2rem; 
            color:#827373;
            min-height: .3rem;
            line-height: .15rem;
            margin-top: 50%;
        }
        .active{
            color:#fff;
        }
    }
}
.progress{
    margin:50px  50px;
    width: 200px;
    height: 20px;
    background: rgba(0, 0, 0, 0.4);
    position: relative;
    .play{
        background:#fff;
        content: ' ';
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 20px;
    }
}

@include keyframes(scrollUp){
    100%{
        transform:translateY(-.3rem);
    }
}    

 
   





